# Vagrant working directory
.vagrant/

# Ansible retry files
*.retry

# Python cache and compiled files
__pycache__/
*.pyc

# Files in /local are created by running the provisioning
# You should not delete those manually
/.local

*.egg-info
/dist/
/build/
MANIFEST.in
